@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, p{
    margin-bottom: 0px;
}

input, button{
    border: none;

    &:focus{
        outline: none;
    }
}

body{
    background-image: linear-gradient(to right, #2b2549, #42378d);
}

.main{
    height: 100vh;
}

.loader{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header{
    background-color: #645aa26f;

    h1{
        color: white;
        font-weight: 600;
        
        span{
            font-weight: 800;
            color: #965dff;
        }
    }

    .nav-btn{
        background-color: transparent;
        color: white;
        font-size: 18px;
        border: 1px solid white;
        border-radius: 10px;
        padding: 3px 15px 4px;
        

    }
}

.user-info{
    p{
        color: white;
        font-weight: 600;
    }
    .no-avatar{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 42px;
        height: 42px;
        font-weight: 800;
        font-size: 20px;
        color: #965DFF;
        border-radius: 50%;
        background-color: #ddcefa;
    }
    .avatar{
        width: 42px;
        height: 42px;
        border-radius: 50%;
    }
}

.side-nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 250px;
    padding-top: 90px;
    background-image: linear-gradient(to right, #2b2549, #463E78);
    transition: 0.3s ease-in-out;

    .burger{
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        position: absolute;
        color: white;
        width: 45px;
        height: 45px;
        top: 15px;
        right: -22px;
        font-size: 25px;
        background-color: #965dff;
        border-radius: 22px;
    }

    .nav-item{
        width: 100%;

        a{
            display: flex;
            align-items: center;
            width: 100%;
            overflow: hidden;
            text-decoration: none;
            font-size: 20px;
            color: rgb(203, 203, 203);
            font-weight: 500;
            border-radius: 15px;
            padding: 7px 15px 8px;
            background-color: #312B54;
            transition: 0.3s ease-in-out;
        }

        .icon{
            margin-right: 15px;
            flex-shrink: 0;
        }

        .active{
            background-color: #965dff;
            color: white;
        }
    }

    &.collapsed{
        width: 100px;

        a{
            width: 49px;
            border-radius: 50%;
        }
    }
}

.sign{
    height: fit-content;
    background-color: #201A31;
    width: 100%;
    max-width: 450px;
    margin: 0px auto;
    color: white;
    box-shadow: 0px 0px 10px #20144a;
    border-radius: 15px;

    h1{
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 10px;
    }

    p{
        color: #c6c6c6;
        font-size: 15px;
        margin-bottom: 25px;
    }

    label, input{
        display: block;
        width: 100%;
    }
    
    .form-floating{
        position: relative;

        label{
            margin-bottom: 10px;
            font-size: 14px;
            color: #c3bafc;
        }

        input{
            border: none;
            background-color: #38304D;
            border-radius: 10px;
            color: white;
            font-weight: 600;
       
            &:focus{
                color: white;
                box-shadow: none;
                background-color: #38304D;
            }
        }
        label, input{
            padding-left: 45px;
        }

        .icon{
            position: absolute;
            color: #c3bafc;
            left: 15px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    .sign-btn{
        display: block;
        width: 160px;
        padding: 6px 6px 8px;
        border-radius: 10px;
        background-color: #965DFF;
        color: white;
        font-weight: 700;
        font-size: 18px;
        margin: 0px auto;

        &:disabled{
            opacity: 0.7;
        }
    }

    .switch-text{
        font-size: 16px;
    }

    .switch-btn{
        cursor: pointer;
        user-select: none;
        font-weight: 800;
        color: #b189fc;
    }
    .error{
        padding: 10px;
        text-align: center;
        font-weight: 600;
        border-radius: 10px;
        background-color: rgba(217, 146, 146, 0.36);
    }
}

.profile{
    padding: 70px 100px;
    max-width: 700px;
    margin: 0px auto;

    .item{
        margin-bottom: 15px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    label{
        color: white;
        font-size: 20px;
        font-weight: 500;
    }
    
    input{
        background-color: #2b2549;
        color: white;
        font-size: 18px;
        border-radius: 10px;
        padding: 6px 13px 8px;
    }

    .profile-avatar{
        cursor: pointer;
        border-radius: 50%;
        overflow: hidden;
        width: 55px;
        height: 55px;
        margin-left: 15px;
        border: 3px solid transparent;
        
        img{
            width: 100%;
        }

        &.active{
            border: 3px solid rgb(34, 235, 34);
        }
    }
    .profile-btn{
        background-color: #965DFF;
        color: white;
        font-size: 20px;
        font-weight: 700;
        padding: 5px 10px;
        width: 130px;
        border-radius: 15px;
    }
}

.online-users{
    width: 250px;
    background-color: #504694;
    border-top: 2px solid #3F3584;

    h2{
        font-size: 20px;
        font-weight: 600;
        color: white;
        margin-bottom: 20px;
    }

    .user-list{
        .user-info{
            margin-bottom: 15px;
            
            .no-avatar, .avatar{
                width: 35px;
                height: 35px;
            }

            p{
                font-size: 15px;
            }

            &.offline{
                opacity: 0.5;
            }
        }
    }
}